.user {
  border: 1px black solid;
  border-radius: 5px;
  background: linear-gradient(to right, #0b0bc0, #3e90d4, #9fe0f1);
  box-shadow: 8px 15px 35px 0px rgba(22, 156, 201, 0.527);
  height: 400px;
  width: 400px;
  padding: 50px;
  margin-top: 10vh;
  color: aliceblue;
  font-size: 18px;
  font-weight: 400;
}

.logo {
  height: 35px;
  width: 35px;
}
.box{
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin: 5px 20px;
}

.btn{
  background-color: #0b0bc0;
  padding: 15px 20px;
  margin-top: 3vh;
  color: aliceblue;
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
  border: none;
}

.picture{
  border-radius: 50%;
}


